.nav_text{
    font-size:30px;
    display: flex;
    justify-content: center;
    margin-top:30px;
    font-weight: 500;
    font-family:'游ゴシック'
}

.footer_line{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100px;
    background-color: black;
    color:white;
    font-size:20px;
}

.card{
    cursor: pointer;
    width:300px; 
    margin:0 auto; 
    overflow:hidden;  
    margin-bottom: 30px;  
}

.card:hover{
    transform:scale(1.05,1.05);
}

.card-text{
    height:30px;
}

.text-muted {
    font-size:13px;
    display: block;
    position: absolute;
    right: 2px;
    bottom: 5px;
    color: #000000;
    padding-bottom: 10px;
}

a:link { 
    color:#000000; 
}

a:hover { 
    color: gray; 
}

.line_bt {
    display: block;
    position: absolute;
    right: 2px;
    bottom: 5px;
    width: 20px;
    height: 1px;
    background: #000000;
  }

.active {
    width: 75px;
    transition: .5s;
  }

  /* footer */
  footer{
      width: 100%;
  }


@media screen and (max-width: 767px){
   
    .nav_text{
        font-size:70px;
        font-weight: 600;
        margin-top:50px;
    }

    .footer_line{
        height:80px;
        font-size:12px;
        font-weight: 300;
    }

    .card{
        width: 100%;
        padding: 0px 50px;
    }

    .col-md-4{
        width: 100%;
        margin:0 auto;
        margin-bottom:80px;

    }

    .col-md-4 img{
        width: 100%;
        height: auto;
    }

    .card-text{
        font-size:30px;
    }

    .card-body{
        height: 300px;
    }

    .text-muted {
        font-size:20px;
        display: block;
        position: absolute;
        right: 50px;
        bottom: 0px;
        padding-bottom: 0px;
    }

    .line-in{
       height: 15px;

    }

    .line_bt {
        display: block;
        position: absolute;
        right: 5px;
        bottom: 0px;
      }
}
