.nav_text{
    font-size:30px;
    display: flex;
    justify-content: center;
    margin-top:30px;
    font-weight: 500;
    font-family:'游ゴシック'
}

.footer_line{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100px;
    background-color: black;
    color:white;
    font-size:20px;
}

.card{
    cursor: pointer;
    width:300px; 
    margin:0 auto; 
    overflow:hidden; 
}

.card:hover{
    transform:scale(1.05,1.05);
}

.card-text{
    height:30px;
}

.text-muted {
    font-size:13px;
    display: block;
    position: absolute;
    right: 2px;
    bottom: 5px;
    color: #000000;
    padding-bottom: 10px;
}

a:link { 
    color:#000000; 
}

a:hover { 
    color: gray; 
}

.line_bt {
    display: block;
    position: absolute;
    right: 2px;
    bottom: 5px;
    width: 20px;
    height: 1px;
    background: #000000;
  }

.active {
    width: 75px;
    transition: .5s;
  }


@media screen and (max-width: 767px){
    body{
      min-width:380px;
      text-align: center;
    }

    .nav_text{
        font-size:50px;
    }

    .footer_line{
        height:80px;
        font-size:12px;
        font-weight: 300;
    }
}
