.nav_text{
    font-size:30px;
    display: flex;
    justify-content: center;
    margin-top:30px;
    font-weight: 500;
}

.footer_line{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100px;
    background-color: black;
    color:white;
    font-size:20px;
}


@media screen and (max-width: 767px){
    body{
      min-width:380px;
      text-align: center;
    }

    .nav_text{
        font-size:50px;
    }

    .footer_line{
        height:80px;
        font-size:12px;
        font-weight: 300;
    }
}
