.nav_text{
    font-size:30px;
    display: flex;
    justify-content: center;
    margin-top:30px;
    font-weight: 500;
}

.footer_line{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100px;
    background-color: black;
    color:white;
    font-size:20px;
}

.card{
    height: 415px;
    cursor: pointer;
}

.text-muted {
    margin-top:60px;
    font-size:15px;
    color: gray;
}

a:link { 
    color: gray; 
}

a:hover { 
    color: black; 
}

.card-img-top :hover{
    transition-duration: 0.3s;
    transform: scale(1.1);
    transition-duration: 0.3s;
  }



@media screen and (max-width: 767px){
    body{
      min-width:380px;
      text-align: center;
    }

    .nav_text{
        font-size:50px;
    }

    .footer_line{
        height:80px;
        font-size:12px;
        font-weight: 300;
    }
}
