.content{
    width: 1152px;
    margin:0 auto;
}

/* header */
header{
    width: 100%;
}

/* nav */
.header_menu {
    display: flex;
    justify-content: flex-end;
}
/* nav終了 */

.nav_menu {
    padding: 30px;
}

/* 擬似要素main */
.photo {
    position: relative;
    display: block;
    /* margin: 0 auto; */
    text-align: center;
    width: 100%;
    margin-top: 50px ;
}

.head_img {
    width: 70%;
    height: auto;
}

.photo::before {
    position: absolute;
    top: -110px;
    left: 5%;
    content: url(../img/logo.png);
    z-index: 10;
}

.photo::after {
    position: absolute;
    bottom: -50px;
    right: 10%;
    content: url(../img/visual_text_pc.png);
}
/* 擬似要素main終了 */

.amebire_text {
    padding: 30px 0 0 150px;
    font-family:'游ゴシック'
}
/* スライド */
.carousel-inner {
    width: 70%;
    margin: 0 auto;
}

/* スライド終了 */

@media screen and (max-width: 767px) {
    .content{
        width: 767px;
    }

    .header_menu {
        display: none;
    }

    .head_img {
        display: none;
    }

    #hd_img {
        content: url(../img/visual_1_sp.png);
        width: 100%;
        margin-top:40%;
    }

    .photo::before {
        top: -50%;
        left: 33%;
    }

    .photo::after {
        display: none;
    }

    #af_img {
        content: url(../img/visual_text_sp.png);
        position: absolute;
        top: 10%;
        left: 5%;
        width: 60%;
    }

    .amebire_text {
        text-align: center;
        padding: 0;
        margin-top: 5%;
        font-size: 40px;
        word-wrap: normal;
        letter-spacing: 2px;
    }

    .amebire_text span::after {
        content: "\A";
        white-space: pre;
    }
}